.lang {
    gap: 1.3rem;
    margin-left: 2.3rem;
}

.lang-btn {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "e-Ukraine";
}

.white {
    color: var(--beige);
}

.yellow {
    color: var(--gold);
}