.nav {
    margin-left: 10rem;
    gap: 6.7rem;
    width: 22rem;
    position: absolute;
    top:9.6rem;
    right: 7rem;
}

.hidden {
    visibility: hidden;
}

.active {
    visibility: visible;
}

.burger-open {
    margin-left: 14rem;
}

.burger-open, .burger-close {
    background-color: inherit;
    border: 0;
    width: max-content;
}

.burger-close {
    margin-top: 6.7rem;
    margin-left: 1.8rem;
}

.nav-list {
    gap: 2rem;
    list-style-type: none;
}

.nav-list__item {
    color: var(--beige);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
    align-items: center;
    gap: 1.3rem;
    font-family: "e-Ukraine";
}

.circle {
    visibility: hidden;
    width: 1rem;
    height: 1rem;
    background-color: var(--gold);
    border-radius: 50%;
}

.nav-list__item:hover .circle {
    visibility: visible;
}

@media only screen and (max-width : 800px)  {
    .nav {
        padding-top: 12rem;
        padding-bottom: 4.6rem;
        top: 2.4rem;
        right: 2.4rem;
        border: var(--border-gray);
        width: calc(100vw - 4.8rem);
        align-items: center;
        background-color: var(--black);
        z-index: 999;
        gap: 2rem;
    }

    .burger-open {
        position: absolute;
        right: 2.4rem;
        top: 3.2rem;
    }

    .nav-list {
        gap: 1.6rem;
    }

    .burger-close {
        margin-top: 2rem;
        margin-left: 0;
    }

    .burger-close img {
        width: 8rem;
    }
}