html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

:root {
  --black: #272727;
  --beige: #EBEAE8;
  --gray: #727272;
  --gold: #E0FD60;
  --white: #ffffff;
  --border-gray: 1px solid var(--beige);
}