@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf"),
}

@font-face {
  font-family: "e-Ukraine";
  src:
    url("./assets/fonts/e-Ukraine-Bold.otf") format("otf"),
    url("./assets/fonts/e-Ukraine-Light.otf") format("otf"),
    url("./assets/fonts/e-Ukraine-Medium.otf") format("otf"),
    url("./assets/fonts/e-Ukraine-Regular.otf") format("otf"),
    url("./assets/fonts/e-Ukraine-Thin.otf") format("otf"),
    url("./assets/fonts/e-Ukraine-UltraLight.otf") format("otf");
}

html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

:root {
  --black: #272727;
  --beige: #EBEAE8;
  --gray: #727272;
  --gold: #E0FD60;
  --white: #ffffff;
  --border-gray: 1px solid var(--beige);
}