.spin {
    width: 20rem;
    height: 20rem;
    border: 5px solid var(--gold);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50%;
}

.spin-circle {
    border: 5px solid var(--black);
    top: 1.5rem;
    right: 1.5rem;
    position: absolute; 
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--gold);
}

.text {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    width: 100%;
}

@keyframes spin {
    from {
        top: 8.5rem;
        right: 8.5rem;
        transform: rotate(-40deg) translate(10rem) rotate(-40deg);
    }
    to {
        top: 8.5rem;
        right: 8.5rem;
        transform: rotate(140deg) translate(10rem) rotate(-40deg);
    }
}

.spin:hover .spin-circle{
    animation: spin 1s ease forwards alternate;
}


@media only screen and (max-width : 1024px) {
    .spin {
        width: 18rem;
        height: 18rem;
    }

    @keyframes spin {
        from {
            top: 6.5rem;
            right: 6.5rem;
            transform: rotate(-40deg) translate(8rem) rotate(-40deg);
        }
        to {
            top: 8.5rem;
            right: 8.5rem;
            transform: rotate(140deg) translate(8rem) rotate(-40deg);
        }
    }
}

@media only screen and (max-width : 800px)  {
    .spin {
        width: 14rem;
        height: 14rem;
    }

    .spin-circle {
        border: 5px solid var(--black);
        top: 1rem;
        right: 1rem;
    }

    @keyframes spin {
        from {
            top: 4.5rem;
            right: 4.5rem;
            transform: rotate(-40deg) translate(6rem) rotate(-40deg);
        }
        to {
            top: 5.8rem;
            right: 5.8rem;
            transform: rotate(140deg) translate(6rem) rotate(-40deg);
        }
    }
}